<!DOCTYPE html>
<html>
    <head>
        <title><%= title %></title>
        <link rel='stylesheet' href='/stylesheets/style.css' />
    </head>
    <body>     
        <% include nav %>
        <hr>
        <form method="post">
        	username:<input type="text" name="username"><br>
        	password:<input type="password" name="password">
        	<input type="submit" value="提交">
        </form>
    </body>
</html>